<div class="container">
    <a href="/products/" class="btn btn-dark mx-1">Appliances</a>
    <a href="/products/" class="btn btn-dark mx-1">Books</a>
    <a href="/products/" class="btn btn-dark mx-1">Computers</a>
    <a href="/products/" class="btn btn-dark mx-1">Electronics</a>
    <a href="/products/" class="btn btn-dark mx-1">Movies/TV</a>
    <a href="/products/" class="btn btn-dark mx-1">Music</a>
    <a href="/products/" class="btn btn-dark mx-1">Phones</a>
    <a href="/products/" class="btn btn-dark mx-1">Sports/Outdoor</a>
    <a href="/products/" class="btn btn-dark mx-1">Video Games</a>
    {{#each products}}
    <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
        <div>
            <h6 class="text-muted m-3" style="float:right">{{this.createdAt}}</h6>
            <div style="height: 25px"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title" name="cardTitle">{{this.name}}</h5>
            <p class="card-text" name="cardText">{{this.description}}</p>

            <div class='d-flex'>
                <a href="/products/{{this._id}}" class="btn btn-dark mx-1">More info</a>

                <form action="/chats" method="post">
                    <input type="hidden" name="productId" value="{{this._id}}">
                    <input type="hidden" name="requester" value="{{this.requester._id}}">
                    <input type="hidden" name="bidderId" value="{{@root/authenticatedUser._id}}">
                    <input type="hidden" name="channel" value="{{this.name}} Channel">
                    <button type="submit" class="btn btn-dark mx-1">Make A Bid</button>
                </form>
            </div>

        </div>
        <div class="card-footer bg-light d-flex justify-content-between">
            <strong><a href="/users/{{this.requester._id}}" class="text-muted">{{this.requester.name}}</a></strong>
            <h6 class="text-muted">{{this.offers}} Offers</h6>
        </div>
    </div>
    {{/each}}
</div>
