<div class="container mt-2">
    <!-- TODO: Somehow use jQuery to re-render this page with alert if chat room already exists, problem is that the page is not being rendered from the post route that is supposed to be throwing the error-->
        <!-- <div class="chatroom-alert"></div> -->
<!--Chatroom Already Exists Alert-->
    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    <button type="button" name="button" class="close" data-dismiss="alert"> <span aria-hidden="true">&times;</span></button>
                    <h4>Chatroom already exists!</h4>
                    <p>View Existing Chatroom In: <a href="/manage-offers/{{authenticatedUser._id}}" class="alert-link">Manage Offers</a></p>
                </div>
            </div>
        </div>
    </div> -->

    <!--TODO: May want to refactor these heading categories to be options on a dropdown search for the results show pages -->
    <a href="/r/appliances" class="btn btn-dark mx-1">Appliances</a>
    <a href="/r/books" class="btn btn-dark mx-1">Books</a>
    <a href="/r/computers" class="btn btn-dark mx-1">Computers</a>
    <a href="/r/electronics" class="btn btn-dark mx-1">Electronics</a>
    <a href="/r/movies-tv" class="btn btn-dark mx-1">Movies/TV</a>
    <a href="/r/music" class="btn btn-dark mx-1">Music</a>
    <a href="/r/phones" class="btn btn-dark mx-1">Phones</a>
    <a href="/r/sports-outdoor" class="btn btn-dark mx-1">Sports/Outdoor</a>
    <a href="/r/video-games" class="btn btn-dark mx-1">Video Games</a>
    
    {{#each products}}
    <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
        <div>
            <h6 class="text-muted m-3 format-timefrom" style="float:right">{{this.createdAt}}</h6>
            <div style="height: 25px"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title" name="cardTitle">{{this.name}}</h5>
            <p class="card-text" name="cardText">{{this.description}}</p>

            <div class='d-flex'>
                <a href="/products/{{this._id}}" class="btn btn-dark mx-1">More info</a>

                <form action="/chats" method="post">
                    <input type="hidden" name="productId" value="{{this._id}}">
                    <input type="hidden" name="requester" value="{{this.requester._id}}">
                    <input type="hidden" name="bidderId" value="{{@root/authenticatedUser._id}}">
                    <input type="hidden" name="channel" value="{{this.name}} Channel">
                    <button type="submit" class="btn btn-dark mx-1">Make A Bid</button>
                </form>
            </div>

        </div>
        <div class="card-footer bg-light d-flex justify-content-between">
            <strong><a href="/users/{{this.requester._id}}" class="text-muted">{{this.requester.name}}</a></strong>
            <h6 class="text-muted">{{this.offers}} Offers</h6>
        </div>
    </div>
    {{/each}}
</div>
