
<div class="container">

    <!--NOTE: Wrapped card div in an form that makes a post request to '/chatrooms'-->
    <form action="/chatooms" method= "post">
        {{#each products}}
            <div class="card">
                <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                <div>
                    <h6 class="text-muted m-3" style="float:right">{{this.createdAt}}</h6>
                    <div style="height: 25px"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>

                    <!--TODO: When button is submitted, create chatroom with current user and the owner of the card -->
                    <div class='d-flex'>
                        <a href="/products/{{this._id}}" class="btn btn-dark mx-1">More info</a>
                      <button type="submit" class="btn btn-dark mx-1">Make A Bid</button>
                    </div>

                </div>
                <div class="card-footer bg-light d-flex justify-content-between">
                    <strong><a href="/users/{{this.requester._id}}" class="text-muted">{{this.requester.name}}</a></strong>
                    <h6 class="text-muted">{{this.offers}} Offers</h6>
                </div>

            </div>
        {{/each}}
    </form>
</div>
