<div class="container show-product">
    <h1> {{product.name}} </h1>
    <h5> Description: </h5>
    <p> {{product.description}} </p>
    <h5> Requirements </h5>
    <p>{{product.requirements}} </p>
    <img src="{{product.image}}" alt="">

    {{!-- KEEP COMMENTED OUT --}}
    {{!-- <h4>{{product.createdAt}}</h1>
    <h3>{{product.requester}}</h3>
    <br>  
    <h4>{{product.offers}}</h4> --}}

    {{#ifEquals authenticatedUser._id product.requester}}
    <button>
        <a href="/products/{{product._id}}/edit"><b>Edit</b></a>
    </button>
    <form method="POST" action="/products/{{product._id}}?_method=DELETE">
        <button type="submit"> Delete </button>
    </form>
    {{/ifEquals}}
    {{#if product.complete}}
    <h1>Product Request No Longer Open</h1>
    {{/if}}
</div>